* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-hero-color: #4c5b66;
  --bg-button-color: #3f4951;
  --slogan-first-color: #dcdcdc;
  --slogan-color: #a0a0a0;
  --btn-background: #3d94d1;
  --page-padding: min(10%, 25em);
  --anchor-color: #52a0d7;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.apptastic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-hero-color);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  height: 5em;
}

.apptastic-header img {
  object-fit: contain;
}

.apptastic-header nav ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

.apptastic-header nav a {
  color: white;
  text-decoration: none;
}

.btn-pressed {
  padding: 0.5em 0.75em;
  border-radius: 1em;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(255, 255, 255, 0.3);
  background-color: var(--bg-button-color);
}

.main-hero {
  background-color: var(--bg-hero-color);
  display: flex;
  justify-content: center;
  gap: 10vmax;
  padding: 0 var(--page-padding);
  padding-top: 2.5em;
}

.main-hero .hero-slogan {
  display: grid;
  grid-template-columns: 1fr 4em 1fr;
  grid-template-rows: 1fr 1fr 1fr 1.5fr;
  max-width: 40em;
  height: 25em;
  padding: 3em;
  justify-items: center;
  align-items: center;
}

.main-hero img {
  height: 100%;
  align-self: end;
  object-fit: cover;
}

.main-hero .hero-slogan h1 {
  color: white;
  font-size: 3em;
  grid-column: 1 / -1;
}

.main-hero .hero-slogan p {
  grid-column: 1 / -1;
  grid-row: 3;
  color: var(--slogan-color);
}

.main-hero .hero-slogan p:first-of-type {
  grid-row: 2;
  color: var(--slogan-first-color);
}

.main-hero .hero-slogan #request-quote {
  padding: 0.75em 3em;
  border-radius: 2em;
  font-size: 13pt;
  border: solid 1px #286997;
  justify-self: end;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -3px 10px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1),
    0 6px 4px rgba(0, 0, 0, 0.2);
}

.main-hero .hero-slogan span {
  color: white;
}

.main-hero .hero-slogan #recent-work-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: white;
  text-decoration: none;
  border-bottom: solid 1px white;
  justify-self: start;
}

button {
  background-color: var(--btn-background);
  border: none;
  color: white;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5),
    inset 0 1px 3px rgba(255, 255, 255, 0.8),
    inset 0 2px 2px rgba(255, 255, 255, 0.4),
    inset 0 -1px 4px rgba(255, 255, 255, 0.3),
    inset 0 -3px 10px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  padding: 0.25em 0.75em;
  border-radius: 0.5em;
}

button:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5),
    inset 0 -1px 3px rgba(255, 255, 255, 0.8),
    inset 0 3px 10px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1);
}

button:active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

.company-logos {
  display: flex;
  justify-content: space-between;
  padding: 1em var(--page-padding);
}

.company-features {
  display: flex;
  padding: 2em var(--page-padding);
  justify-content: center;
  gap: 1em;
}

.company-features .feature-item .text-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.company-features .feature-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1em;
  max-width: 20em;
}

.company-features .feature-item .readmore-btn {
  width: 10em;
  height: 3em;
}

.selected-projects {
  display: flex;
  flex-direction: column;
  padding: 0 var(--page-padding);
  gap: 1em;
}

.selected-projects h3 {
  display: flex;
  align-content: center;
  gap: 0.5em;
}

.project-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  width: 100%;
}

.project-showcase .project-item {
  width: 100%;
}

.photo-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.2rem solid white;
  border-radius: 0.1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.media {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  padding: 5em var(--page-padding);
}

.blog-media,
.twitter-feed {
  width: 100%;
  height: 100%;
}

.blog-media {
  grid-column: 1;
}

.twitter-feed {
  grid-column: 3;
}

.blog-media .grid-container,
.twitter-feed .grid-container {
  height: 100%;
}

.blog-media .grid-container {
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr 2em;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 2em;
  row-gap: 1em;
}

.grid-container header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.grid-container .blog-item {
  display: grid;
  grid-template-columns: 30% auto;
  column-gap: 1em;
}

.grid-container .tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet {
  color: #777;
  line-height: 1.5em;
}

.tweet .from {
  color: black;
}

.tweet .timestamp {
  color: #aaa;
}

.app-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--page-padding);
  margin-bottom: 2em;
}

.app-footer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: var(--page-padding);
  height: 2px;
  background-color: #ddd;
  width: calc(100% - var(--page-padding) * 2);
}

.app-footer nav ul {
  list-style-type: none;
  display: flex;
  gap: 0.5em;
}

.app-footer nav ul li {
  padding: 0;
  margin: 0;
}

.url {
  color: var(--anchor-color);
}

@media (max-width: 900px) {
  .main-hero img {
    display: none;
  }

  .company-features {
    flex-direction: column;
    align-items: center;
  }

  .company-features .feature-item {
    width: 100%;
    max-width: 25em;
    text-align: justify;
    margin-bottom: 2em;
  }

  .company-features .feature-item .text-section {
    padding: 0 min(var(--page-padding),);
  }

  .company-logos {
    display: none;
  }

  .main-hero {
    padding-bottom: 3em;
    height: 25em;
  }

  .main-hero .hero-slogan {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 0;
    height: 100%;
  }

  .main-hero .hero-slogan #recent-work-anchor,
  .main-hero .hero-slogan #request-quote {
    justify-self: unset;
  }

  .project-showcase {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .media {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10%;
  }

  .blog-media {
    grid-column: 1;
  }

  .twitter-feed {
    grid-column: 1;
  }
}
